<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Playground</title>
  <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
  <div id="app">
    <canvas></canvas>
    <input type="color" v-model="color">
    <input type="text" inputmode="decimal" v-model="alpha">
  </div>

  <script type="module" async>
    import { colorOverlayFilter } from './src'

    const image = await new Promise((resolve) => {
      const image = new Image()
      image.src = '/docs/example.jpg'
      image.onload = () => resolve(image)
    })

    const { createApp, ref, watch, onMounted } = window.Vue

    createApp({
      setup() {
        const color = ref('#FF00FF')
        const alpha = ref(0.3)

        onMounted(() => {
          const canvas = document.querySelector('canvas')
          canvas.width = image.width
          canvas.height = image.height
          canvas.style.width = '200px'
          const context = canvas.getContext('2d')
          context.drawImage(image, 0, 0)
          const imageData = context.getImageData(0, 0, canvas.width, canvas.height)

          function render() {
            const data = imageData.data.slice(0)
            const color_ = Number(color.value.replace('#', '0x'))
            const color__ = [(color_ >> 16) & 255, (color_ >> 8) & 255, color_ & 255]
            for (let length = data.length, i = 0; i < length; i += 4) {
              const rgba = [
                data[i],
                data[i + 1],
                data[i + 2],
                data[i + 3],
              ]
              const newRgba = colorOverlayFilter(
                rgba,
                [color__[0], color__[1], color__[2], alpha.value * 255],
              )
              data[i] = newRgba[0]
              data[i + 1] = newRgba[1]
              data[i + 2] = newRgba[2]
            }
            context.putImageData(new ImageData(data, canvas.width, canvas.height), 0, 0)
          }

          watch(color, render)
          watch(alpha, render)
        })

        return {
          color,
          alpha,
        }
      },
    }).mount('#app')
  </script>
</body>
</html>
